::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: white;
}

.uploader-status {
    display: inline;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
}
::ng-deep .signin{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;    
    color: #08073A;
  }
::ng-deep .signin a{
    color: #85A5C8 !important;
  }