<mat-stepper class="no-header-mat-stepper">
  <mat-step>
    <ng-template matStepContent>
      <div class="tw-flex tw-flex-col">
        <h1 class="heading-2 tw-text-center tw-mb-6">Forgot Password</h1>

        <p class="tw-text-xl tw-text-muted tw-text-center tw-mb-8">
          Tell us your email or phone
          and we will send you a reset password link.
        </p>

      <form [formGroup]="formGroup"
            (ngSubmit)="handleFormData()"
            class="tw-flex tw-flex-col tw-gap-y-5 tw-mb-8">
        <div iconic-input-wrapper leftIcon="user">
          <input type="text" inputRef formControlName="email" placeholder="Phone or Email"/>
        </div>
        
          <button matRipple
          type="submit"
          class="btn btn-primary tw-mb-4" [disabled]="formGroup.invalid">
          Reset Password
          <mat-spinner *ngIf="loader" class="uploader-status" [diameter]="20"></mat-spinner>
        </button>
      </form>

        <span class="tw-self-center tw-font-medium signin">Or go back to the <a
          routerLink="sign-in">Sign in</a> page</span>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <div class="tw-flex tw-flex-col">
        <h1 class="heading-2 tw-text-center tw-mb-6">Reset email sent</h1>

        <p class="tw-text-xl tw-text-muted tw-text-center tw-mb-8">
          An email has been sent to your address.
          Please follow the instructions inside to reset your password
        </p>
        <p class="paragraph-2 tw-mb-12 tw-text-center !tw-font-bold tw-border-t tw-pt-4">
          You can close this window
        </p>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
