<div class="tw-w-full">
  <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
    <table class="sp-access-material-table no-wrap tw-overflow-hidden" matSort
           [class.loading]="this.loading" aria-label="Usage Table"
           cdk-table [dataSource]="this.dataSource">
      <ng-container cdkColumnDef="timestamp">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="timestamp">Timestamp
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.createdAt.date | date:"yyyy-MM-dd HH:mm"}}</td>
      </ng-container>

      <ng-container cdkColumnDef="email">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="email">User email
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container cdkColumnDef="source">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="source"
            scope="col">Action
        </th>
        <td cdk-cell *cdkCellDef="let row">{{ row.source }}</td>
      </ng-container>

      <ng-container cdkColumnDef="balance">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="balance"
            scope="col">Balance
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.balance}}</td>
      </ng-container>


      <!-- Header and Row Declarations -->
      <tr cdk-header-row *cdkHeaderRowDef="this.displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: this.displayedColumns"></tr>
      <tr *cdkNoDataRow>
        <td [colSpan]="this.displayedColumns.length">
          <span *ngIf="this.loading">
            Se încarcă datele
          </span>
          <span
            *ngIf="this.dataSource.data.length === 0 && !this.loading">Nu există înregistrări</span>
          <span
            *ngIf="this.dataSource.data.length > 0  && !this.loading">Nicio înregistrare nu corespunde criteriilor de căutare</span>
        </td>
      </tr>
    </table>
  </ng-scrollbar>

  <mat-paginator [class.!tw-hidden]="this.dataSource.data.length === 0" class="paginator tw-rounded-b-[10px]"
                 hidePageSize
                 aria-label="Select page" pageSize="10">
  </mat-paginator>
</div>
