<div class="tw-flex-grow tw-flex tw-flex-col tw-gap-y-6">
  <div
    class="tw-flex min-lg:tw-justify-between max-lg:tw-items-center max-lg:tw-gap-y-4 tw-flex-wrap max-lg:tw-flex-col">
    <!-- <div class="tw-flex-grow tw-flex tw-gap-4 max-lg:tw-flex-col"> -->
    <!-- <h2 class="heading-5 tw-text-center !tw-font-bold">Billing History</h2> -->
    <!-- <searchbar [minWidth]="500">
        <fa-icon icon="search"></fa-icon>
        <input input type="search" (input)="historyTable.filter = $any($event.target).value"/>
      </searchbar> -->
    <!-- </div> -->
    <nav mat-tab-nav-bar>
      <a [routerLink]="billingOverviewRoute" mat-tab-link> Billing Overview </a>
      <a [routerLink]="managesubscription" mat-tab-link> Manage Subscription</a>
      <a [routerLink]="" mat-tab-link style="color: #85A5C8; border-bottom: 2px solid #85A5C8;"> Billing History </a>
      <a [routerLink]="paymentMethodsRoute" mat-tab-link mat-tab-link> Billing Methods </a>
    </nav>
    <!-- <div class="tw-flex tw-gap-4 tw-flex-wrap tw-justify-center tw-min-h-[42px]">
      <button matRipple [routerLink]="billingProfilesRoute" class="btn btn-primary tw-min-w-[175px]">Billing
        Profiles
      </button>
      <button matRipple [routerLink]="paymentMethodsRoute" class="btn btn-primary tw-min-w-[175px]">Payment Methods
      </button>
    </div> -->
  </div>
  <div class="tw-flex-grow">
    <admin-billing-history-table #historyTable [loading]="false" [payBtnClickAction]="payInvoice"
      [billingList]="billingList"></admin-billing-history-table>
  </div>
</div>