<sp-access-prompt class="tw-text-left"
  [imageSrc]="this.promptImgSrc"
                  [heading]="this.promptHeading"
                  [textContent]="this.promptParagraph">
</sp-access-prompt>
<!-- <button type="button" matRipple 
class="btn btn-danger tw-whitespace-nowrap">Cancel
</button>
<button type="button" matRipple 
class="btn btn-primary tw-whitespace-nowrap">Next
</button> -->
<div class="tw-flex tw-justify-center tw-flex-wrap-reverse tw-gap-8">
  <button class="btn btn-outline-danger tw-min-w-[130px]">Cancel</button>
  <button class="btn btn-primary tw-min-w-[130px]">Next</button>
</div>