<header class="layout-wrapper">
  <div class="logo-container" *ngIf="this.logoSrc" [routerLink]="this.logoRedirect" [relativeTo]="this.activatedRoute.parent">
    <img [src]="this.logoSrc" alt="logo">
  </div>
  <div class="current-location-container" *ngIf="this.currentLocation">
    <h2 class="heading-4 current-location">{{this.currentLocation}}</h2>
  </div>

  <button class="expand-btn" (click)="this.isMenuClosed = false">
    <fa-icon [icon]="this.expandBtnIcon" size="lg"></fa-icon>
  </button>

  <div
    [class.closed]="this.isMenuClosed"
    class="menu-container">
    <div class="title-row">
      <h4>{{this.optionsTitle}}</h4>
      <fa-icon [icon]="this.closeBtnIcon" size="lg" role="button" (click)="this.isMenuClosed = true"></fa-icon>
    </div>
    <div class="menu-row">
      <ng-content select="[menu]"></ng-content>
    </div>

  </div>
</header>
