<mat-stepper class="no-header-mat-stepper">
  <mat-step>
    <ng-template matStepContent>

      <div class="tw-flex tw-flex-col">
        <h1 class="heading-2 tw-text-center tw-mb-6">Reset password</h1>

        <p class="tw-text-xl tw-text-muted tw-text-center tw-mb-8">
          Fill in the fields below to reset your password
          and make sure it is a strong password.
        </p>

      <form [formGroup]="formGroup"
        (ngSubmit)="handleFormData($event)"
        class="tw-flex tw-flex-col tw-gap-y-5 tw-mb-8">
        <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{minLength: '8'}">
          <input type="password" formControlName="password" inputRef placeholder="New password"/>
        </div>
        <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{identicalField: 'password'}">
          <input type="password" formControlName="confirmedPassword" inputRef placeholder="Retype password"/>
        </div>
      
                                  
        <button matRipple
                type="submit"
                class="btn btn-primary tw-mb-4">
          Set Password
        </button>
      </form>
        <span class="tw-self-center tw-font-medium">Or go back to the <a [routerLink]="['sign-in']">Sign in</a> page</span>

      </div>

    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepContent>
      <div class="tw-flex tw-flex-col">
        <h1 class="heading-2 tw-text-center tw-mb-6">Success</h1>

        <p class="tw-text-xl tw-text-center tw-mb-8 tw-font-medium">
          Your password has been reset.
        </p>

        <p class="paragraph-2 tw-mb-12 tw-text-center !tw-font-bold tw-border-t tw-pt-4">
          You can return to the <a routerLink="sign-in">Sign in</a> page
        </p>

      </div>
    </ng-template>
  </mat-step>

</mat-stepper>
