<div class="layout-wrapper">
  <panel [hasShadow]="hasShadow" [showHeader]="showHeader">
    <div menu class="tw-flex tw-mb-4 min-md:tw-mb-8 tw-flex-col min-md:tw-flex-row tw-gap-y-4 tw-gap-x-8 tw-items-center">

      <h3 *ngIf="tableTitle" class="heading-3 tw-font-bold max-md:tw-text-center min-md:tw-mr-auto">{{tableTitle}}</h3>

      <searchbar *ngIf="showSearchbar" class="tw-w-full tw-max-w-xs">
        <fa-icon [icon]="searchIcon" class="tw-text-black"></fa-icon>
        <input type="search" input placeholder="" (ngModelChange)="searchText.next($event)" [(ngModel)]="textForSearch" >
      </searchbar>

      <button class="btn btn-primary tw-min-w-[4rem] min-md:tw-ml-auto max-md:tw-self-center" matRipple
              *ngIf="showButton" (click)="buttonClicked.emit()">{{buttonLabel}}</button>
    </div>
    <div content>
      <ng-content select="[table]"></ng-content>
      <ng-content select="[optional]"></ng-content>
    </div>
  </panel>
</div>
