.searchbar-container {

  background-color: var(--searchbar-bg, white);
  border: 1px solid var(--searchbar-border-color, #9e9e9e);
  border-radius: (calc(var(--app-border-radius) - 5px));

  display: flex;
  align-items: center;

  padding: 0.5rem 1rem;

  > input[type='search'] {
    all: unset;
    min-height: 20px;
    flex-grow: 1;
    margin-left: 0.5rem;
    width: 100%;
  }
}
