:host {
  --prompt-main-margin: 1rem 0 0 0;
}

header {
  text-align: var(--prompt-header-text-align, center);
  background: white;
  max-width: 100%;
  padding: 50px;
  border-radius: 50%;
  > img {
    // max-height: 285px;
    max-height: 180px;
    display: inline;
  }
}

main {
  text-align: var(--prompt-main-text-align, center);
  margin: var(--prompt-main-margin);

  > p {
    margin-top: 1rem;
  }
}

footer {
  margin-top: 2rem;
}

