<div class="tw-w-full">
  <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
    <table class="sp-access-material-table no-wrap tw-overflow-hidden" matSort
           [class.loading]="this.loading" aria-label="Products Table"
           cdk-table [dataSource]="this.dataSource">

      <ng-container cdkColumnDef="owner">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="owner">Owner
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.owner}}</td>
      </ng-container>

      <ng-container cdkColumnDef="customer">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="customer">Customer
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.customer}}</td>
      </ng-container>

      <ng-container cdkColumnDef="refId">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="refId">REF ID
        </th>
        <td cdk-cell *cdkCellDef="let row">
          <a target="_blank" [download]="row.refId" [href]="'history-entry/'+row.refId">
            <fa-icon icon="download"></fa-icon>
            {{row.refId}}
          </a>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="date">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="date">Date
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.date | date: 'dd.MM.yyyy'}}</td>
      </ng-container>

      <ng-container cdkColumnDef="priceList">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="priceList">Price list amount
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.priceListAmount | currency: 'EUR'}}</td>
      </ng-container>

      <ng-container cdkColumnDef="total">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="total">Total amount
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.totalAmount | currency: 'EUR'}}</td>
      </ng-container>

      <ng-container cdkColumnDef="partnerAmount">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="partnerAmount">Partner amount
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.partnerAmount | currency: 'EUR'}}</td>
      </ng-container>

      <ng-container cdkColumnDef="ownerAmount">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="ownerAmount">Owner amount
        </th>
        <td cdk-cell *cdkCellDef="let row">{{row.ownerAmount | currency: 'EUR'}}</td>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <th cdk-header-cell *cdkHeaderCellDef scope="col"
            mat-sort-header="status">Status
        </th>
        <td cdk-cell *cdkCellDef="let row">
          <ng-container [ngSwitch]="row.status.toLowerCase()">
            <span *ngSwitchCase="'paid'" class="tw-text-primary tw-font-bold">Paid</span>
            <button *ngSwitchCase="'not paid'" class="tw-text-primary tw-font-bold">Pay
            </button>
          </ng-container>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr cdk-header-row *cdkHeaderRowDef="this.displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: this.displayedColumns"></tr>
      <tr *cdkNoDataRow>
        <td [colSpan]="this.displayedColumns.length">
          <span *ngIf="this.loading">
            <!-- Se încarcă datele -->
          </span>
          <span
            *ngIf="this.dataSource.data.length === 0 && !this.loading">Nu există înregistrări</span>
          <span
            *ngIf="this.dataSource.data.length > 0  && !this.loading">Nicio înregistrare nu corespunde criteriilor de căutare</span>
        </td>
      </tr>
    </table>
  </ng-scrollbar>

  <mat-paginator [class.!tw-hidden]="this.dataSource.data.length === 0" class="paginator tw-rounded-b-[10px]"
                 hidePageSize
                 aria-label="Select page" pageSize="10">
  </mat-paginator>
</div>
