<div class="layout-wrapper">
  <panel>
    <div menu class="panel-menu">
      <p *ngIf="tableTitle" class="tw-font-bold tw-text-2xl md:tw-text-xl md:tw-self-end">{{tableTitle}}</p>
      <searchbar *ngIf="showSearchbar">
        <!-- <fa-icon [icon]="searchIcon" class="search-icon"></fa-icon> -->
        <input type="search" input placeholder="" #searchbar>
      </searchbar>
      <button class="btn btn-primary tw-w-28" matRipple
              *ngIf="showButton" (click)="buttonClicked.emit()">{{buttonLabel}}</button>
    </div>
    <div content class="panel-content">
      <ng-content select="[table]"></ng-content>
    </div>
  </panel>
</div>
