<div class="tw-flex-grow tw-flex tw-flex-col tw-gap-y-6">
  <div
    class="tw-flex min-sm:tw-justify-between max-sm:tw-items-center max-sm:tw-gap-y-4 tw-flex-wrap max-sm:tw-flex-col">
    <nav mat-tab-nav-bar>
      <a [routerLink]="" mat-tab-link 
      style="color: #85A5C8; border-bottom: 1px solid #85A5C8;"> Billing overview </a>
      <a [routerLink]="billingHistoryRoute" mat-tab-link> Billing history </a>
      <a [routerLink]="" mat-tab-link mat-tab-link> Billing methods </a>
    </nav>
  </div>
</div>

<!-- <div class="tw-flex-grow tw-flex tw-flex-col tw-gap-8">
 <div class="tw-flex tw-flex-wrap tw-gap-8">
  <div card class="tw-w-full tw-flex tw-flex-col user-dist-by-source tw-p-4">
    <h3 class="heading-5 tw-text-center tw-mb-10">User distribution by app</h3>
    <div class="tw-flex-grow tw-mr-12">
      <ngx-charts-pie-chart [legend]="legend"
                            [doughnut]="true"
                            [explodeSlices]="true"
                            [legendPosition]="this.legendPosition"
                            [results]="this.pieChardData"></ngx-charts-pie-chart>
    </div>
    <div class="tw-text-right min-md:tw-pr-6 tw-mt-4">
      <button>Last 30 days</button>
    </div>
  </div>
  <div card class="tw-flex-grow top-5-users">
    <h3 class="heading-5 tw-text-center tw-mb-10">Top 5 users</h3>
    <ul class="tw-flex tw-flex-col tw-gap-y-4 tw-text-muted tw-mb-8">
      <li class="tw-flex tw-justify-between">
        <span>Popescu Ion</span>
        <span>100</span>
      </li>
      <li class="tw-flex tw-justify-between">
        <span>Georgescu George</span>
        <span>100</span>
      </li>
      <li class="tw-flex tw-justify-between">
        <span>Ionescu Razvan</span>
        <span>100</span>
      </li>
      <li class="tw-flex tw-justify-between">
        <span>Umar Farooq</span>
        <span>100</span>
      </li>
      <li class="tw-flex tw-justify-between">
        <span>Smith Dan</span>
        <span>100</span>
      </li>
    </ul>

    <div class="tw-text-right">
      <button>Last 30 days</button>
    </div>
  </div>
</div>

</div> -->
<!-- old data -->
<div class="tw-flex-grow tw-flex tw-flex-col tw-gap-y-6">
  <div
    class="tw-flex min-sm:tw-justify-between max-sm:tw-items-center max-sm:tw-gap-y-4 tw-flex-wrap max-sm:tw-flex-col">
    <h2 class="heading-5 !tw-font-bold">Billing Profiles</h2>
    <div *ngIf="billingProfiles$ | async as billingProfiles"
      class="tw-flex tw-gap-4 tw-flex-wrap tw-justify-center tw-min-h-[42px]">
      <button *ngIf="billingProfiles.length > 0;" (click)="addBillingProfile()"
        class="btn btn-primary tw-min-w-[175px]">Add billing profile</button>
      <!-- <button matRipple [routerLink]="paymentMethodsRoute" class="btn btn-primary tw-min-w-[175px]">Payment
        Methods
      </button>
      <button matRipple [routerLink]="billingHistoryRoute" class="btn btn-primary tw-min-w-[175px]">Billing
        History
      </button> -->
    </div>
  </div>
  <div *ngIf="billingProfiles$ | async as billingProfiles" class="tw-flex-grow">
    <div *ngIf="billingProfiles.length > 0; else emptyListPrompt" grid-presentation-layout
      [dataSource]="billingProfiles" addBtnPosition="last" rowHeight="auto"
      columnTemplate="repeat(auto-fill,minmax(min(400px,100%),1fr))" [gridItemTemplate]="billingProfileTemplate">

      <!-- <button card addNew (click)="addBillingProfile()"
              class="tw-text-primary tw-font-semibold hover:tw-shadow-2xl">
        Add new business profile
      </button> -->

    </div>
  </div>
</div>

<ng-template #billingProfileTemplate let-data="data">
  <div card class="tw-p-8 tw-min-h-[400px]">
    <admin-billing-profile [billingProfile]="data" (deleteClicked)="deleteBillingProfile(data)"
      (editClicked)="editBillingProfile(data)"></admin-billing-profile>
  </div>
</ng-template>

<ng-template #emptyListPrompt>
  <admin-add-billing-profile-prompt class="tw-block tw-mt-16"
    [addBillingProfileBtnClickAction]="addBillingProfile"></admin-add-billing-profile-prompt>
</ng-template>

<offcanvas [show]="showOffcanvas" class="tw-bg-body">

  <button content class="tw-absolute tw-right-4 tw-top-4" (click)="showOffcanvas = false">
    <fa-icon icon="times" size="lg"></fa-icon>
  </button>

  <div content class="tw-w-full tw-max-w-md tw-mx-auto tw-px-4 tw-my-10">
    <h1 class="heading-4 tw-text-center" *ngIf="!edit">Add billing profile</h1>
    <h1 class="heading-4 tw-text-center" *ngIf="edit">Edit billing profile</h1>
    <billing-profile-form [data]="billingData" (checkRefresh)="passRefresh($event)" id="billingProfileForm"></billing-profile-form>
  </div>

</offcanvas>