:host {
    display: block;
    width: 100%;
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    margin-bottom: 0.3rem;

    .menu-container {
       flex-grow: 1;
    }
}

main {
    position: relative;
    overflow: auto;
    // box-shadow: 0 0 4px #00000040;
    border-radius: min(var(--app-border-radius), 5px);
}
