<form [formGroup]="formGroup"
  class="sp-access-bootstrap-form tw-flex tw-flex-col"
  (ngSubmit)="submit()">

  <div class="tw-mt-8 tw-w-full tw-flex tw-flex-col tw-flex-wrap min-md:tw-flex-row tw-gap-y-8 tw-gap-x-8">
    <div class="tw-flex tw-flex-col tw-flex-grow">
      <label class="sp-access-form-label">Product name</label>
      <input type="text" formControlName="name" class="sp-access-form-control"/>

      <ng-container *ngIf="this.name?.touched">
        <small class="errors-container" *ngIf="this.name?.errors as validationErrors">
          <span *ngFor="let error of validationErrors | keyvalue" class="invalid">
            {{error.value.message | transloco }}
          </span>
        </small>
      </ng-container>

    </div>

  </div>

  <div class="tw-mt-8 tw-w-full tw-flex tw-flex-col tw-flex-wrap min-md:tw-flex-row tw-gap-y-8 tw-gap-x-8">
    <div class="tw-flex tw-flex-col tw-flex-1">
      <label class="sp-access-form-label">Product type</label>
      <select formControlName="type" class="sp-access-form-control">
        <option selected value="" disabled></option>
        <option>Type 1</option>
        <option>Type 2</option>
        <option>Type 3</option>
      </select>

      <ng-container *ngIf="this.type?.touched">
        <small class="errors-container" *ngIf="this.type?.errors as validationErrors">
          <span *ngFor="let error of validationErrors | keyvalue" class="invalid">
            {{error.value.message | transloco }}
          </span>
        </small>
      </ng-container>

    </div>
    <div class="tw-flex tw-flex-col tw-flex-1">
      <label class="sp-access-form-label">Product price (euro)</label>
      <input type="number" formControlName="price" class="sp-access-form-control"/>

      <ng-container *ngIf="this.price?.touched">
        <small class="errors-container" *ngIf="this.price?.errors as validationErrors">
          <span *ngFor="let error of validationErrors | keyvalue" class="invalid">
            {{error.value.message | transloco }}
          </span>
        </small>
      </ng-container>

    </div>
  </div>

  <div class="tw-mt-8 tw-w-full tw-flex tw-flex-col tw-flex-wrap min-md:tw-flex-row tw-gap-y-8 tw-gap-x-8">
    <div class="tw-flex tw-flex-col tw-flex-grow tw-min-w-[calc(50%-1rem)]">
      <label class="sp-access-form-label">M1 - M12 Partner fee</label>
      <input type="number" formControlName="firstPartnerFee" class="sp-access-form-control" min="0" />

      <ng-container *ngIf="this.firstPartnerFee?.touched">
        <small class="errors-container" *ngIf="this.firstPartnerFee?.errors as validationErrors">
          <span *ngFor="let error of validationErrors | keyvalue" class="invalid">
            {{error.value.message | transloco }}
          </span>
        </small>
      </ng-container>

    </div>
    <div class="tw-flex tw-flex-col tw-flex-grow">
      <label class="sp-access-form-label">+ M12 Partner fee</label>
      <input type="text" formControlName="secondPartnerFee" class="sp-access-form-control"/>

      <ng-container *ngIf="this.secondPartnerFee?.touched">
        <small class="errors-container" *ngIf="this.secondPartnerFee?.errors as validationErrors">
          <span *ngFor="let error of validationErrors | keyvalue" class="invalid">
            {{error.value.message | transloco }}
          </span>
        </small>
      </ng-container>


    </div>
  </div>

</form>

