.transaction-details {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @apply tw-gap-y-2
}

.transaction-details dt, .transaction-details dd {
  @apply tw-text-muted;
}

.transaction-details dd {
  @apply tw-font-bold;
  text-align: right;
}
