@import "../mixins/mat-snackbar";

.mat-tooltip {
  font-size: var(--mat-tooltip-font-size, 0.8rem);
  letter-spacing: 0.25px;
}

@include define-custom-mat-snackbar(primary, var(--primary-color), white, white);
@include define-custom-mat-snackbar(secondary, var(--secondary-color), white, white);
@include define-custom-mat-snackbar(warning, var(--warning-color), white, white);
@include define-custom-mat-snackbar(danger, var(--danger-color), white, white);
@include define-custom-mat-snackbar(success, var(--success-color), white, white);
@include define-custom-mat-snackbar(info, var(--info-color), white, white);

snack-bar-container {
  max-height: 40px;
}

mat-stepper, [matStepper] {
  &.no-header-mat-stepper {
    > .mat-horizontal-stepper-header-container {
      display: none;
    }
  }

  .mat-horizontal-content-container {
    padding: 0;
  }

}

.mat-paginator-range-label {
  font-size: 0.9rem;
}

.no-padding-mat-dialog {
  mat-dialog-container {
    padding: 0;
  }
}


.mat-slide-toggle {
  &.mat-primary {
    &.mat-checked {
      .mat-slide-toggle-bar {
        background-color: var(--primary-light-color);
      }
    }
  }
}
