.btnWidt {
    min-width: 268px !important;
    border-radius: 10px !important;

}

.dot {
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    width: 8px;
    height: 8px;
    background: rgba(189, 189, 189, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 8px;
}

.dot:hover {
    cursor: pointer;
}

.dot.active {
    background: #85A5C8;
}