<form class="sp-access-bootstrap-form tw-flex tw-flex-col tw-gap-4">

  <div class="tw-flex tw-flex-col tw-flex-grow">
    <label class="sp-access-form-label">Card Number</label>
    <div class="tw-relative">
      <input type="tel" class="sp-access-form-control tw-w-full"
             #ccNumber="ccNumber"
             autocomplete="cc-number" ccNumber/>
      <ng-container *ngIf="ccNumber.resolvedScheme$ | async as scheme">
        <img *ngIf="scheme | spAccessCardIcon as image"
             [src]="image"
             class="tw-absolute tw-right-4 tw-top-0 tw-bottom-0 tw-h-full tw-w-16 tw-py-1"
             alt=""/>

      </ng-container>
    </div>

  </div>

  <div class="tw-flex tw-flex-col min-sm:tw-flex-row tw-flex-grow tw-gap-4">
    <div class="tw-flex tw-flex-col">
      <label class="sp-access-form-label">MM / YY</label>
      <input class="sp-access-form-control" type="tel" autocomplete="cc-exp" ccExp>
    </div>
    <div class="tw-flex tw-flex-col">
      <label class="sp-access-form-label">CVV</label>
      <input class="sp-access-form-control" type="tel" autocomplete="off" ccCVC>
    </div>
  </div>

  <div class="tw-flex tw-flex-col tw-w-full">
    <label class="sp-access-form-label">Cardholder name</label>
    <input type="text" class="tw-w-full sp-access-form-control"/>
  </div>

  <div class="tw-flex tw-flex-col tw-w-full">
    <label class="sp-access-form-label">Country</label>
    <input type="text" class="tw-w-full sp-access-form-control"/>
  </div>

  <div class="tw-flex tw-flex-col tw-w-full">
    <label class="sp-access-form-label">Address line 1</label>
    <input type="text" class="tw-w-full sp-access-form-control"/>
  </div>

  <div class="tw-flex tw-flex-col tw-w-full">
    <label class="sp-access-form-label">Address line 2</label>
    <input type="text" class="tw-w-full sp-access-form-control"/>
  </div>

  <div class="tw-flex tw-flex-wrap tw-w-full tw-gap-4">
    <div class="tw-flex tw-flex-col tw-flex-grow">
      <label class="sp-access-form-label">Postcode</label>
      <input type="text" class="tw-w-full sp-access-form-control"/>
    </div>
    <div class="tw-flex tw-flex-col tw-flex-grow">
      <label class="sp-access-form-label">City</label>
      <input type="text" class="tw-w-full sp-access-form-control"/>
    </div>
  </div>

</form>
