<mat-stepper class="no-header-mat-stepper tw-w-full">
  <mat-step>
    <ng-template matStepContent>
      <div class="tw-flex tw-flex-col">
        <h1 class="heading-2 tw-mb-8 tw-text-center">Set Password</h1>
        <p class="paragraph-1 tw-mb-6">
          Please set the the password for your account. Your password must have at least 3 of the following types of
          characters: big caps, small caps, numbers and special characters.
        </p>
        <p class="paragraph-1 tw-mb-10">
          After setting your password, the account will be activated and you will be logged into the application.
        </p>

        <form [formGroup]="formGroup"
            (submit)="handleFormData()"
            class="tw-flex tw-flex-col tw-gap-y-5">
        <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{minLength: '8'}">
          <input type="password" inputRef formControlName="password" placeholder="Password"/>
        </div>
        <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{identicalField: 'password'}">
          <input type="password" inputRef formControlName="confirmedPassword" placeholder="Repeat password"/>
        </div>
        
        
        <button matRipple
          type="submit"
          class="btn btn-primary tw-self-center tw-w-full" [disabled]="formGroup.invalid">
          Set Password
        </button>
      </form>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <div class="tw-flex tw-flex-col tw-mx-auto">
        <div class="tw-mb-8">
          <h1 class="heading-2 tw-mb-8 tw-text-center">Welcome</h1>
        
          <p class="paragraph-2 tw-mb-1 !tw-text-xl">
            You are now ready to set up your account.
            <br/>
            Our account management app allow you:
          </p>
        
          <ul class="paragraph-2 tw-list-disc tw-pl-5 !tw-text-xl">
            <li>
              Create billing profile for your company(ies)
            </li>
            <li>
              Manage payment options
            </li>
            <li>
              Add users to your account
            </li>
            <li>
              Download relevant usage data
            </li>
          </ul>
        
        </div>
        
        <a matRipple
           role="button"
           type="submit"
           routerLink="sign-in"
           class="btn btn-primary tw-text-center tw-w-full">
          Go to sign in
        </a>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
