.icon {
  color: var(--icon-color, black);

  &.active {
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--primary-color);
    }

    :focus {
      outline: var(--primary-color);
    }
  }

  &.disabled {
    color: var(--muted-light-color);
    pointer-events: none;
  }

}
