<div class="tw-flex-grow tw-flex tw-flex-col tw-gap-y-6">
  <div
    class="tw-flex min-sm:tw-justify-between max-sm:tw-items-center max-sm:tw-gap-y-4 tw-flex-wrap max-sm:tw-flex-col">
    <!-- <h2 class="heading-5 !tw-font-bold">Payment Methods</h2> -->

    <nav mat-tab-nav-bar>
      <a [routerLink]="billingOverviewRoute" mat-tab-link> Billing Overview </a>
      <a [routerLink]="managesubscription" mat-tab-link> Manage Subscription</a>
      <a [routerLink]="billingHistoryRoute" mat-tab-link> Billing History </a>
      <a [routerLink]="" mat-tab-link mat-tab-link
        style="color: #85A5C8; border-bottom: 2px solid #85A5C8;"> Billing Methods </a>
    </nav>
    <!-- <div> -->

    <!-- <button [routerLink]="" class="tabs tw-min-w-[175px]">Billing Overview</button>
      <button [routerLink]="billingHistoryRoute" class="tabs tw-min-w-[175px]">Billing History</button>
      <button [routerLink]=""  class="tabs tw-min-w-[175px] active">Payment methods</button> -->
    <!-- <button matRipple [routerLink]="billingProfilesRoute" class="btn btn-primary tw-min-w-[175px]">Billing
        Profiles
      </button> -->

    <!-- </div> -->
    <div *ngIf="cards$ | async as cards" class="tw-flex tw-gap-4 tw-flex-wrap tw-justify-center tw-min-h-[42px]">
      <button matRipple *ngIf="cards.length > 0;" card addNew (click)="addPaymentMethod()"
        class="btn btn-primary tw-min-w-[175px]">
        Add payment method
      </button>
      <!-- <button matRipple [routerLink]="billingProfilesRoute" class="btn btn-primary tw-min-w-[175px]">Billing
        Profiles
      </button>
      <button matRipple [routerLink]="billingHistoryRoute" class="btn btn-primary tw-min-w-[175px]">Billing
        History
      </button> -->
    </div>
  </div>
  <div *ngIf="cards$ | async as cards" class="tw-flex-grow">
    <div *ngIf="cards.length > 0; else emptyListPrompt" grid-presentation-layout [dataSource]="cards"
      [gridItemTemplate]="paymentMethodTemplate" addBtnPosition="last" rowHeight="auto"
      columnTemplate="repeat(auto-fill,minmax(min(450px,100%),1fr))">

      <!-- <button card addNew (click)="addPaymentMethod()"
              class="tw-text-primary tw-font-semibold hover:tw-shadow-2xl">
        Add payment method
      </button> -->

    </div>
  </div>
</div>

<ng-template #paymentMethodTemplate let-data="data">
  <div card class="tw-p-8 tw-min-h-[230px]">
    <payment-card [withDelete]="true" [deleteAction]="deletePaymentMethod" [creditCard]="data"></payment-card>
  </div>
</ng-template>

<ng-template #emptyListPrompt>
  <dea-billing-payment-method-prompt class="tw-block" [addPaymentBtnClickAction]="addPaymentMethod">
  </dea-billing-payment-method-prompt>
</ng-template>

<offcanvas [show]="showOffcanvas">

  <button content class="tw-absolute tw-right-4 tw-top-4" (click)="showOffcanvas = false">
    <fa-icon icon="times" size="lg"></fa-icon>
  </button>

  <div content class="tw-w-full tw-max-w-md tw-mx-auto tw-px-4 tw-my-10">
    <!-- <h1 class="heading-4 tw-text-center tw-mb-8">Add payment methods</h1> -->
    <admin-payment-method-form [id]="'paymentMethodForm'"></admin-payment-method-form>
    <div class="tw-mt-4 min-sm:tw-mt-8 tw-text-center">
      <button style="min-width: 26%;" type="submit" form="paymentMethodForm" class="btn btn-primary">Save</button>
    </div>
  </div>

</offcanvas>