.searchbar-container {

  background-color: var(--searchbar-bg, white);
  border: 1px solid var(--searchbar-border-color, #C0C0C0);
  // border-radius: (calc(var(--app-border-radius) - 100px));
  border-radius: 100px;
  display: flex;
  align-items: center;

  padding: 0.5rem 1rem;

  >input[type='search'] {
    all: unset;
    min-height: 20px;
    flex-grow: 1;
    margin-left: 0.5rem;
    width: 100%;
  }
}