<div [class.valid]="isValid === true && isTouched"
     [class.invalid]="isValid === false && isTouched"
     [class.disabled]="isDisabled" class="iconic-layout-wrapper">
  <div class="input-container">
    <fa-icon *ngIf="leftIcon" [icon]="leftIcon" size="lg" class="icon"></fa-icon>
    <ng-content select="input[inputRef]"></ng-content>
    <ng-container *ngIf="appendedTemplate" [ngTemplateOutlet]="appendedTemplate"></ng-container>
    <fa-icon *ngIf="passwordState" [icon]="actionPasswordIcon" size="lg"
             class="icon tw-cursor-pointer tw-text-black"
             (click)="togglePasswordState()"></fa-icon>
    <fa-icon *ngIf="isValid && withCheckmark && isTouched" [icon]="checkmark" size="lg"
             class="icon valid tw-pl-3">
    </fa-icon>
  </div>
  <!-- <ng-container *ngIf=""> -->
    <div class="errors-container" [style.visibility]="(isTouched && showValidationMessages && errors) ? 'visible': 'hidden'" [style.height.px]="21">
      <div *ngFor="let error of errors | keyvalue" class="tw-text-center">
        <span class="invalid">Invalid password</span>
      </div>
    </div>
  <!-- </ng-container> -->

</div>
