<div class="tw-flex-grow tw-flex tw-flex-col tw-gap-8">
  <div class="tw-flex tw-flex-wrap tw-gap-8">
    <div statistic-card-v2 icon="users" class="tw-flex-grow" label="Users" [numericValue]="this.count"></div>
    <div statistic-card-v2 icon="users" class="tw-flex-grow"  label="Available usage"
         [numericValue]="this.usage"></div>
    <div statistic-card-v2 icon="users" class="tw-flex-grow" label="Next billing date"
         [numericValue]="this.nextBillingDate"></div>
  </div>
  

  <div card class="tw-h-max-content tw-flex tw-flex-col tw-overflow-hidden">
    <header class="tw-text-center heading-5">Daily Usage</header>
    <div class="tw-flex-grow tw-h-[400px] min-md:tw-h-[330px]">
      <!-- <ngx-charts-line-chart
        [legend]="legend"
        [legendPosition]="this.legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="this.lineChartData"
        [trimYAxisTicks]="true"
      ></ngx-charts-line-chart> -->
    </div>
    <div class="tw-text-right min-md:tw-pr-6 tw-mt-4">
      <button>Last 30 days</button>
    </div>
  </div>

  <div class="tw-flex tw-flex-wrap tw-gap-8">
    <!-- sp-access-card -->
    <div card class="tw-w-full tw-flex tw-flex-col user-dist-by-source tw-p-4">
      <h3 class="heading-5 tw-text-center tw-mb-10">User distribution by source</h3>
      <div class="tw-flex-grow tw-mr-12">
        <!-- <ngx-charts-pie-chart [legend]="legend"
                              [doughnut]="true"
                              [explodeSlices]="true"
                              [legendPosition]="this.legendPosition"
                              [results]="this.pieChardData"></ngx-charts-pie-chart> -->
      </div>
      <div class="tw-text-right min-md:tw-pr-6 tw-mt-4">
        <button>Last 30 days</button>
      </div>
    </div>
    <div card class="tw-flex-grow top-5-users">
      <h3 class="heading-5 tw-text-center tw-mb-10">Top 5 users</h3>
      <ul class="tw-flex tw-flex-col tw-gap-y-4 tw-text-muted tw-mb-8">
        <li class="tw-flex tw-justify-between">
          <span>Popescu Ion</span>
          <span>100</span>
        </li>
        <li class="tw-flex tw-justify-between">
          <span>Georgescu George</span>
          <span>100</span>
        </li>
        <li class="tw-flex tw-justify-between">
          <span>Ionescu Razvan</span>
          <span>100</span>
        </li>
        <li class="tw-flex tw-justify-between">
          <span>Umar Farooq</span>
          <span>100</span>
        </li>
        <li class="tw-flex tw-justify-between">
          <span>Smith Dan</span>
          <span>100</span>
        </li>
      </ul>

      <div class="tw-text-right">
        <button>Last 30 days</button>
      </div>
    </div>
  </div>
</div>
