<div class="tw-flex tw-flex-col" >
  <h1 class="heading-2 tw-text-center tw-mb-12">Sign in</h1>

  <!-- <dea-portal-sign-in-form (formSubmitted)="this.handleFormData($event)" [id]="this.signInFormId" class="tw-mb-1"></dea-portal-sign-in-form> -->

  <form (submit)="handleFormData()" [formGroup]="formGroup" class="tw-flex tw-flex-col ">
    <!-- tw-gap-y-5 -->
    <div iconic-input-wrapper leftIcon="user">
      <input type="text" formControlName="email" inputRef placeholder="Phone or Email">
    </div>
    <div iconic-password-wrapper leftIcon="lock">
      <input type="password" formControlName="password" inputRef placeholder="Password">
    </div>
      <!-- <div leftIcon="lock">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" inputRef placeholder="Password">
      <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword()">
        {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
    </div> -->

    <a class="tw-self-end tw-font-medium tw-mb-6 forgat" routerLink="/portal/forgot-password">Forgot Password</a>

    <button matRipple type="submit" class="btn btn-primary tw-mb-6 signin" [disabled]="formGroup.invalid">Sign in
      <mat-spinner *ngIf="loader" class="uploader-status" [diameter]="20"></mat-spinner>
    </button>
  </form>
  <span class="tw-font-medium tw-text-center account">Don`t have an account?
    <a routerLink="/portal/sign-up" class="createfoam">Create one</a>
  </span>

</div>

<!-- <mat-stepper class="no-header-mat-stepper tw-w-full">
  <mat-step>
    <ng-template matStepContent>
      <img [src]="this.coverImgSrc1" alt="" class="tw-h-full tw-w-full tw-object-fill" />
      <div class="text-center mt-4">
        <b>
          <h3>Dashboard</h3>
        </b>
        <p class="mt-2">Get a glimpse of the current situation
          through our centralised dashboard.</p>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <img [src]="this.coverImgSrc2" alt="" class="tw-h-full tw-w-full tw-object-fill" />
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <img [src]="this.coverImgSrc3" alt="" class="tw-h-full tw-w-full tw-object-fill" />
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <img [src]="this.coverImgSrc4" alt="" class="tw-h-full tw-w-full tw-object-fill" />
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <img [src]="this.coverImgSrc5" alt="" class="tw-h-full tw-w-full tw-object-fill" />
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepContent>
      <img [src]="this.coverImgSrc6" alt="" class="tw-h-full tw-w-full tw-object-fill" />
      <button matRipple type="submit" class="btn btn-primary tw-mb-6 signin">Lets Start!
        <mat-spinner *ngIf="loader" class="uploader-status" [diameter]="20"></mat-spinner>
      </button>
    </ng-template>
  </mat-step>
</mat-stepper> -->
