<div class="tw-flex tw-flex-col">
  <h1 class="heading-2 tw-text-center tw-mb-12">Sign in</h1>

  <!-- <dea-portal-sign-in-form (formSubmitted)="this.handleFormData($event)" [id]="this.signInFormId" class="tw-mb-1"></dea-portal-sign-in-form> -->

  <form (submit)="handleFormData()" [formGroup]="formGroup" class="tw-flex tw-flex-col ">
    <!-- tw-gap-y-5 -->
    <div iconic-input-wrapper leftIcon="user">
      <input type="text" formControlName="email" inputRef placeholder="Phone or Email">
    </div>
    <!-- <label class="font-medium block mb-1 mt-6 text-gray-700" for="password">
      Password
    </label> -->
    <!-- <div iconic-password-wrapper leftIcon="lock">
      <input type="password" formControlName="password" inputRef placeholder="Password"> -->
    <!-- <div iconic-input-wrapper leftIcon="lock"> -->

      <!-- <input [type]="showPassword ? 'text' : 'password'" formControlName="password" inputRef placeholder="Password"> -->
      <!-- <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword()">
        {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
    </div> -->
    <!-- </div> -->
    <div class="mb-3">
      <input class="input" [type]="showPassword ? 'text' : 'password'" formControlName="password" inputRef placeholder="Password">
      <mat-icon matSuffix style="cursor: pointer; margin-left: -40px;
      padding-top: 4px;" (click)="toggleShowPassword()">
        {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
    </div>

    <a class="tw-self-end tw-font-medium tw-mb-6 forgat" routerLink="/portal/forgot-password">Forgot Password</a>

    <button matRipple type="submit" class="btn btn-primary tw-mb-6 signin" [disabled]="formGroup.invalid">Sign in
      <mat-spinner *ngIf="loader" class="uploader-status" [diameter]="20"></mat-spinner>
    </button>
    </form>
    <span class="tw-font-medium tw-text-center account">Don`t have an account?
      <a routerLink="/portal/sign-up" class="createfoam">Create one</a>
    </span>

</div>
