<div [class.valid]="isValid === true && isTouched" [class.invalid]="isValid === false && isTouched"
     [class.disabled]="isDisabled" class="iconic-layout-wrapper">
  <div class="input-container">
    <fa-icon *ngIf="leftIcon" [icon]="leftIcon" size="lg" class="icon"></fa-icon>
    <div class="select-container">
      <ng-content select="select[inputRef]"></ng-content>
      <fa-icon *ngIf="rightIcon" [icon]="rightIcon" size="lg" class="icon select-decoration"></fa-icon>
    </div>
    <ng-container *ngIf="appendedTemplate" [ngTemplateOutlet]="appendedTemplate"></ng-container>
    <fa-icon *ngIf="isValid && withCheckmark && isTouched" [icon]="checkmark" size="lg"
             class="icon valid">
    </fa-icon>
  </div>

    <div class="errors-container" [style.visibility]="isTouched && showValidationMessages && errors ? 'visible': 'hidden'" [style.height.px]="21">
      <div *ngFor="let error of (errors | keyvalue)">
        <span class="invalid">invalid</span>
      </div>
    </div>

</div>


<ng-content select="[auxiliary]"></ng-content>
