<div class="body-container" *ngIf="isContainer; else withoutContainer">
    <div class="loader" [class.fullscreen]="fullScreen">
        <fa-icon icon="circle-notch" [size]="size" class="tw-animate-spin  tw-text-primary tw-mb-2"></fa-icon>
        <span [class.tw-text-white]="fullScreen">{{message}}</span>
    </div>
</div>

<ng-template #withoutContainer>
    <div class="loader" [class.fullscreen]="fullScreen">
        <fa-icon icon="circle-notch" [size]="size" class="tw-animate-spin  tw-text-primary tw-mb-2"></fa-icon>
        <span [class.tw-text-white]="fullScreen">{{message}}</span>
    </div>
</ng-template>
  