@import '../mixins/colors.scss';

:root {
  /* Typography */
  --base-font-size: 16px;
  --app-font-family: 'Roboto';

  /* Colors */
  @include define-color(primary, 204, 70%, 50%, 5%, 10%);

  @include define-color(secondary, 276, 97%, 61%, 5%, 20%);

  @include define-color(info, 195, 83%, 57%, 5%, 15%);

  @include define-color(warning, 39, 100%, 50%, 10%, 10%);

  @include define-color(danger, 5, 78%, 65%, 10%, 15%);

  @include define-color(success, 144, 100%, 35%, 5%, 10%);

  @include define-color(muted, 0, 0%, 45%, 25%, 10%);

  @include define-headings-colors(#08073a);

  --body-bg: white;

  --highlight-bg-color: var(--primary-color);
  --highlighted-text-color: white;

  --valid-color: var(--success-color);
  --invalid-color: var(--danger-color);

  --app-border-color: #b7b7b7;

  /* Commons */
  --app-border-radius: 10px;
  --btn-border-radius: var(--app-border-radius);
}
